<div style="text-align:center;">
  <img src="https://raito29.azurewebsites.net/assets/img/logo-raito.png" alt="Raito">
      </br>
</div>
<h4>Status of Monarch service</h4>
<div>
  <h5>STATUS:</h5>
  <p>Resolved</p>
  <h5>COMMUNICATION:</h5>
  <p>The Monarch service is working again. Thank you for your patience.</p>
</div>
