<p>Hello,</p>
<p><b>{{patientName}}</b> would like to invite you to use <a href="https://raito29.azurewebsites.net/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">Raito</a>. <b>{{patientName}}</b> uses Raito to organize their medical reports, their list of standardized symptoms in the corresponding medical vocabulary and, if available, their genetic data. All this information is organized and easily shareable with your doctor via email. In Raito your doctor can analyze the data to see which rare diseases fit with it.</p>
<p>
With Raito we want to accelerate the diagnosis of rare diseases. Raito is a free website where your data remains in your possession. It is created by Foundation 29, a non-profit foundation that wants rare disease patients to find a diagnosis as soon as possible.
</p>
<p><a href="{{client_server}}">Try Raito following this link.</a></p>
